.booking-page {
    font-family: Arial, sans-serif;
    color: #f9f9f9;
    background: url('../../img/images.jfif') no-repeat center center fixed;
    background-size: cover; /* Ensures the image covers the entire background */
    background-attachment: fixed; /* Keeps the image fixed in place while scrolling */
    padding: 20px;
    box-sizing: border-box;
    min-height: 100vh; /* Ensures the page always has at least the full viewport height */
}

.title {
    text-align: center;
    color: #007bff;
    margin-bottom: 20px;
    font-size: 2rem;
    font-weight: bold;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.form-container, .availability-container {
    flex: 1;
    
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

.list-container {
    background-color: #8f93eb;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    box-sizing: border-box;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .form-container, .availability-container {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 480px) {
    .title {
        font-size: 1.5rem;
    }

    .form-container, .availability-container {
        padding: 15px;
    }
}
